In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("C://Users//amana//Documents//GitHub Repository/clootrack//Sample Dataset for Coding Task.csv")

In [5]:
df

    Sl     Category   Product  Sales
0    1     Clothing     Shirt     90
1    2     Clothing     Jeans    270
2    3  Electronics    Mobile    150
3    4        Games     Chess    150
4    5     Clothing     Shirt    150
5    6        Games  Scrabble    270
6    7     Clothing     Shirt     90
7    8  Electronics        TV    400
8    9  Electronics        TV    300
9   10  Electronics    Mobile    150
10  11     Clothing     Shirt    400
11  12        Games     Chess    400
12  13  Electronics    Mobile    500
13  14     Clothing     Shirt    150
14  15        Games  Scrabble    270
15  16        Games  Scrabble    400
16  17        Games     Chess    150
17  18  Electronics    Mobile    500
18  19     Clothing     Jeans     90
19  20        Games  Scrabble    150
20  21     Clothing     Shirt    400
21  22  Electronics        TV    500
22  23  Electronics    Mobile    150
23  24  Electronics        TV    270
24  25        Games  Scrabble     90
25  26        Games     Chess    270
26  27     Clothing     Jeans    400
27  28        Games     Chess    300
28  29  Electronics        TV    500
29  30        Games     Chess    300
30  31     Clothing     Jeans    270
31  32  Electronics        TV    500
32  33        Games     Chess    150
33  34  Electronics        TV    400
34  35  Electronics    Mobile    400
35  36     Clothing     Jeans    500
36  37        Games  Scrabble     90
37  38  Electronics    Mobile    300
38  39  Electronics    Mobile    270
39  40  Electronics    Mobile     90
40  41  Electronics    Mobile    500
41  42     Clothing     Shirt     90
42  43  Electronics    Mobile    300
43  44        Games     Chess    500
44  45        Games     Chess    400
45  46        Games     Chess    500
46  47     Clothing     Shirt    400
47  48     Clothing     Shirt     90
48  49     Clothing     Jeans    150
49  50        Games  Scrabble    150

In [9]:
# Calculate total sales for each category
category_sales = df.groupby('Category')['Sales'].transform('sum')

In [11]:
# Calculate sales percentage for each product within its category
df['Sales Percentage'] = (df['Sales'] / category_sales) * 100
df['Sales Percentage'] = df['Sales Percentage'].round(2)

In [13]:
# Save the result to a CSV file
output_file = 'Aman_Abdulla_products.csv'
df.to_csv(output_file, columns=['Category', 'Product', 'Sales Percentage'], index=False)

print("Output saved to:", output_file)

Output saved to: Aman_Abdulla_products.csv